# /etc/containers/systemd/rabbitconsumer.container

[Unit]
Description=Rabbit Consumer Service
After=rabbitmq.service
Requires=rabbitmq.service
PartOf=aspire.target

[Container]
Image=localhost/aspireapp1.rabbitconsumer

Network=aspire

PublishPort=8080:8080
PublishPort=7193:8081

EnvironmentFile=/etc/containers/systemd/aspire.env

Environment=OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY=in_memory
Environment=ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
Environment=HTTP_PORTS=8080

Environment=ConnectionStrings__rabbitmq=amqp://admin:12345678@rabbitmq:5672
Environment=RABBITMQ_HOST=rabbitmq
Environment=RABBITMQ_PORT=5672
Environment=RABBITMQ_USERNAME=admin
Environment=RABBITMQ_PASSWORD=12345678
Environment=RABBITMQ_URI=amqp://admin:12345678@rabbitmq:5672

Environment=OTEL_EXPORTER_OTLP_ENDPOINT=http://env-dashboard:18889
Environment=OTEL_EXPORTER_OTLP_PROTOCOL=grpc
Environment=ConnectionStrings__seq=http://seq:80

ContainerName=rabbitconsumer

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

